.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cells-row{
    display: flex;
    flex-flow: row;
}

.cell {
    height: 10px;
    width: 10px;
}

.alive{
    background-color: green;
}

.dead{
    background-color: black;
}